/************
 * Nautilus *
 ************/

window.nautilus-window {
  popover grid stack button:not(.image-button) {
    background-color: $alt_base_color;
    border: 1px solid $border_color;
    color: $fg_color;

    &:hover, &:active, &:checked {
      background-color: $alt_base_color;
    }
  }

  paned box.floating-bar {
    // lower right box in the status bar isn't very eyecatching
    border: 1px solid $border_color;
    background-color: $lighter_bg_color;
  }

  scrolledwindow treeeview.view, .nautilus-list-view overlay {
    background-color: $bg_color;

    // treeview:not(header) {
    // weirdness where the selected background color in treeview doesn't work for multiple selected items
    // seems to be working now but I'll keep the rule just in case
    //   &, &:backdrop {
    //     :selected {
    //       background: $primary_color;
    //     }
    //   }
    // }

  }

  popover viewport button {
    @include button(flat, $primary_color);

    &:hover {
      @include button(flat-hover, $primary_color);
    }

    &:active {
      @include button(flat-active, $primary_color);
    }
  }

  grid stack box.linked button:not(.image-button) {
    // nautilus has a not-entry button
    @include button(text, $fg_color, $lighter_bg_color);
  }

  header tabs tab {
    padding: 0px 8px;
  }

  notebook {
    > header {
      &.top {
        tabs tab.reorderable-page {
          &:checked, &:hover {
            background-color: $lighter_bg_color;
          }
        }
      }
    }
  }

  paned > separator {
    background: transparent;
  }

  placessidebar {
    box-shadow: inset -10px 0 10px 0px rgba(0, 0, 0, 0.055);
  }
}

/************
 * GNOME Tweak Tool *
 ************/

.tweak-categories separator {
  background: transparent;
}

viewport.frame list.tweak-categories {
  border: none;
  background-image: image($alt_bg_color);
  border-bottom-left-radius: 8px;
}

.tweak-group-startup row {
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 24px;
  padding-right: 24px;

  &:hover {
    background-image: image($lighter_bg_color);
  }

  > button:hover {
    box-shadow: none;
  }
}

@if $variant != "light" or $headerbar == "dark" {
  headerbar.tweak-titlebar-left {
    $_dark_headerbar_border: _shadow_border(1, 0, 0, 1, $darker_border_color), _shadow_border(1, 0, 0, 1, $darker_border_color);
    
    box-shadow: $_dark_headerbar_border;
  }

  headerbar.tweak-titlebar-right {
    $_dark_headerbar_border: _shadow_border(1, 1, 0, 0, $darker_border_color), _shadow_border(1, 1, 0, 0, $darker_border_color);

    box-shadow: $_dark_headerbar_border;
  }
}

/************
 * Calculator *
 ************/

headerbar.titlebar button.title {
  // the calculator's title is a button
  @include button(normal, $in_headerbar: true);

  &:hover {
    @include button(hover, $lighter_bg_color, $primary_color);
  }

  &:active {
    @include button(active, $lighter_bg_color, $primary_color);
  }

  &:checked {
    @include button(checked, $lighter_bg_color, $primary_color);
  }
}

/************
 * Rhythmbox *
 ************/

#AltToolbarSideBar {
  box-shadow: none;
}

toolbar toolitem button.image-button.raised {
  border: none;
}

toolbar.horizontal box.linked button:hover {
  border-color: $border_color;
}

/************
 * GNOME Software *
 ************/

headerbar buttonbox.horizontal.linked button.toggle.toolbar-primary-buttons-software {
  border-radius: 0px;
  border-width: 0px;

  &:first-child {
    border-top-left-radius: $standard_radius;
  }

  &:last-child {
    border-top-right-radius: $standard_radius;
  }

  @include button(toggle, $lighter_bg_color, $primary_color, $in_headerbar: true);

  &:hover {
    @include button(toggle-hover, $lighter_bg_color, $primary_color, $in_headerbar: true);
  }

  &:checked, &:active {
    @include button(toggle-active, $lighter_bg_color, $primary_color, $in_headerbar: true);

    &:disabled {
      @include button(disabled, $in_headerbar: true);

      box-shadow: $shadow_bottom if($headerbar == "dark", $darker_secondary_fg_color, $secondary_fg_color);
    }
  }
}

/************
 * GNOME Builder *
 ************/

window.workbench {
  docktabstrip {
    // analogous to notebook header
    border-color: $border_color;
    margin-top: $container_padding;
    background-color: $alt_bg_color;
    box-shadow: _shadow_border(0, 0, 1, 0);

    docktab {
      // analogous to notebook tabs
      border-radius: $standard_radius $standard_radius 0 0;
      box-shadow: _shadow_border(1, 1, 0, 1), _shadow_border(1, 1, 0, 1);
      border-color: $border_color;
      color: $secondary_fg_color;
      transition: $shorter_transition;
      min-height: 18px;
      min-width: 48px;
      padding: 4px 8px;
      margin: 0 $container_padding;
      outline-offset: -6px;
      border-width: 0;
      font-weight: 500;

      &:checked, &:hover {
        background-color: $base_color;

        label {
          color: $fg_color;
        }
      }
    }
  }

  layouttab button {
    border-width: 0px;

    @include button(flat);

    &:hover {
      @include button(flat-hover, $primary_color);
    }

    &:active {
      @include button(flat-active, $primary_color);
    }
  }

  popover {
    .popover-content-area {
      padding: $container_padding;
    }

    list row {
      label {
        padding: 0 $container_padding;
      }

      min-height: 16px;
    }

    button.model {
      @include button(normal);

      &:hover {
        @include button(hover, $primary_color);

        border-color: $border_color;
      }

      &:active {
        @include button(active, $primary_color);
      }

      &:checked {
        @include button(checked, $primary_color);

        &:hover {
          &, > * {
            color: white;
          }
        }
      }
    }
  }

  box.popover-action-area .text-button {
    border-radius: 0px;

    &:hover {
      border-color: $border_color;
      background-color: $primary_color;
      color: white;
    }

    &:active {
      border-color: $border_color;
      background-color: _pressed_shade($primary_color);
      color: white;
    }

    &:not(:first-child):not(:last-child) {
      border-width: 1px 0 1px 0;
    }
  }

  greeter frame, layout > stack {
    border: 1px solid $border_color;
  }
}

/************
 * GNOME Maps *
 ************/

#zoom-in-button, #zoom-out-button {
  // to hide the white background
  border-radius: 0px;
}

/************
 * GNOME Maps *
 ************/
headerbar.titlebar.incognito-mode {
  button {
    @include button(flat);
  }
}

/************
 * Evolution *
 ************/

button.ecalendar.flat {
  @include button(flat);

  &:hover {
    @include button(flat-hover, $primary_color);
  }

  &:active, &:checked {
    @include button(flat-active, $primary_color);
  }
}

/************
 * GNOME Web *
 ************/

#PagePopup separator {
  background-image: image($border_color);
  background-color: $border_color;
}
