/************
 * Nautilus *
 ************/

window.nautilus-window {
  popover grid stack button:not(.image-button) {
    background-color: $alt_base_color;
    border: 1px solid $border_color;
    color: $fg_color;

    &:hover, &:active, &:checked {
      background-color: $alt_base_color;
    }
  }

  scrolledwindow treeeview.view, .nautilus-list-view overlay treeview {
    background-color: $bg_color;

    *:selected {
      background-color: $primary_color;
    }
  }

  popover viewport button {
    @include button(flat, $primary_color);

    &:hover {
      @include button(flat-hover, $primary_color);
    }

    &:active {
      @include button(flat-active, $primary_color);
    }
  }

  grid stack box.linked button:not(.image-button) {
    // nautilus has a not-entry button
    @include button(text, $fg_color, $lighter_bg_color);
  }

  header tabs tab {
    // TODO: remove bottom border - make allowance for epiphany
    // necessary v-padding for regular tabs seems to be too much for nautilus
    padding: 0px 8px;
  }

  notebook {
    > header {
      &.top {
        tabs tab.reorderable-page {
          &:checked, &:hover {
            // for the tab color to be the same color as the view in nautilus when active -> hardcoded for now
            background-color: $lighter_bg_color;
          }
        }
      }
    }
  }
}

/************
 * GNOME Tweak Tool *
 ************/

.tweak-categories separator {
  background: transparent;
}

viewport.frame list.tweak-categories {
  border: none;
  background-image: image($alt_bg_color);
  border-bottom-left-radius: 8px;
}

.tweak-group-startup row {
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 24px;
  padding-right: 24px;

  &:hover {
    background-image: image($lighter_bg_color);
  }

  > button:hover {
    box-shadow: none;
  }
}

/************
 * Calculator *
 ************/

headerbar.titlebar button.title {
  // the calculator's title is a button
  background-image: none;

  &:hover, &:active, &:checked {
    color: $primary_color;
    background-image: none;
    box-shadow: none;

    &:checked {
      * {
        color: $pressed_fg;
      }
    }

    color: white;
  }
}

/************
 * Rhythmbox *
 ************/

#AltToolbarSideBar {
  box-shadow: none;
}

toolbar toolitem button.image-button.raised {
  border: none;
}

toolbar.horizontal box.linked button:hover {
  border-color: $border_color;
}

/************
 * GNOME Software *
 ************/

headerbar buttonbox.horizontal.linked button.toolbar-primary-buttons-software {
  background-color: if($headerbar != "dark", $lighter_bg_color, $darker_lighter_bg_color);
  border-radius: 0px;
  border-width: 0px;

  &:first-child {
    border-top-left-radius: $standard_radius;
  }

  &:last-child {
    border-top-right-radius: $standard_radius;
  }

  &:checked {
    label, image, arrow {
      color: $primary_color;
    }
  }

  &:active {
    label, image, arrow {
      color: $pressed_fg;
    }
  }

  &:checked, &:active {
    background-color: if($headerbar != "dark", $lighter_bg_color, $darker_lighter_bg_color);
    box-shadow: $shadow_bottom $primary_color;
  }

  &:checked:hover {
    @include button(normal, if($headerbar != "dark", $lighter_bg_color, $darker_lighter_bg_color), if($headerbar == "dark", $light_fg_color, $fg_color));

    border-color: transparent;

    label, image, arrow {
      color: $pressed_fg;
    }
  }

  &:not(:checked) {
    background-color: if($headerbar != "dark", $lighter_bg_color, $darker_lighter_bg_color);

    label, image, arrow {
      color: if($headerbar == "dark", $darker_disabled_fg_color, $disabled_fg_color);
    }

    &:hover {
      border-color: transparent;

      label, image, arrow {
        color: if($headerbar == "dark", $darker_disabled_fg_color, $disabled_fg_color);
      }

      &:active {
        label, image, arrow {
          color: $pressed_fg;
        }

        box-shadow: $shadow_bottom $primary_color;
      }

      box-shadow: $shadow_bottom if($headerbar == "dark", $darker_disabled_fg_color, $disabled_fg_color);
    }
  }
}

/************
 * GNOME Builder *
 ************/

window.workbench {
  docktabstrip {
    //@include notebook;
    border-bottom: 1px solid $border_color;
  }

  popover box image {
    padding: 0 4px;
  }

  layout {
    border: 1px solid $border_color;
  }

  .popover-content-area {
    padding: 8px;
  }

  .popover-action-area button {
    border-radius: 0px;

    &:first-child {
      border-right-style: none;
      border-left-style: none;
    }

    &:last-child {
      border-left-style: none;
      border-right-style: none;
    }

    &:hover {
      border-color: $border_color;
      background-color: $primary_color;

      label, image, arrow {
        color: white;
      }
    }

    &:hover {
      border-color: $border_color;
      background-color: $pressed_fg;

      label, image, arrow {
        color: white;
      }
    }
  }

  docktab {
    //@include tab;
    background-color: $lighter_bg_color;
    min-height: 18px;
    box-shadow: inset 0 0px $disabled_fg_color;

    label {
      padding: 4px 8px;
    }

    &:not(:checked) {
      &:hover {
        box-shadow: inset 0 -3px $disabled_fg_color;
      }

      label {
        color: $disabled_fg_color;
      }
    }

    &:checked {
      box-shadow: inset 0 -3px $primary_color;

      label {
        color: $primary_color;
      }
    }
  }

  layouttab {
    box button {
      @include button(flat);

      padding: 2px 8px;

      &:hover {
        border-color: transparent;
      }

      &:active, &:checked {
        color: $pressed_fg;
      }
    }
  }

  greeter frame {
    border: 1px solid $border_color;
  }
}
