headerbar, headerbar.titlebar {
  entry {
    @include entry(normal, $in_headerbar: true);

    &:focus {
      @include entry(focus, $in_headerbar: true);
    }

    &:disabled {
      @include entry(disabled, $in_headerbar: true);
    }
  }

  box.horizontal.linked {
    // stubborn button in GNOME Dictionary
    button.popup.text-button.toggle {
      @include button(flat, $in_headerbar: true);

      &:hover {
        @include button(flat-hover, $in_headerbar: true);
      }

      &:active {
        @include button(flat-active, $in_headerbar: true);
      }

      &:disabled {
        @include button(flat-disabled, $in_headerbar: true);
      }
    }
  }

  button {
    // make the styling on headerbar buttons more discreet and make accomodations for the dark headerbar
    @include button(normal, $in_headerbar: true);

    &:disabled {
      @include button(disabled, $in_headerbar: true);
    }

    margin: 5px 0;

    &.text-button, &.text-button.toggle {
      &:hover {
        @include button(hover, $in_headerbar: true);

        border-color: $primary_color;
      }

      &:active {
        @include button(active, $primary_color, $in_headerbar: true);
      }

      &:checked {
        @include button(checked, $primary_color, $in_headerbar: true);
      }
    }

    &.text-button {
      &.suggested-action {
        @include button(normal, $suggested_color, white);

        &:hover {
          @include button(hover, $suggested_color, white);
        }

        &:active {
          @include button(active, $suggested_color, white);
        }

        &:disabled {
          @include button(disabled, $suggested_color, $in_headerbar: true);
        }
      }
    }

    &.image-button:not(.text-button), &.toggle:not(.image-button):not(.text-button) {
      @include button(flat, $primary_color, $in_headerbar: true);

      &:hover {
        @include button(flat-hover, $primary_color, $in_headerbar: true);
      }

      &:active, &:checked {
        @include button(flat-active, $primary_color, $in_headerbar: true);
      }
    }
  }

  stackswitcher.horizontal.linked.stack-switcher {
    // make the stackswitcher look the way we want it to look

    button {
      &, &.text-button {
        min-width: 115px;
        border-width: 0px;
        border-radius: 0px;

        @include button(toggle, $lighter_bg_color, $primary_color, $in_headerbar: true);

        &:hover {
          @include button(toggle-hover, $lighter_bg_color, $primary_color, $in_headerbar: true);
        }

        &:active, &:checked {
          @include button(toggle-active, $lighter_bg_color, $primary_color, $in_headerbar: true);

          &:disabled {
            @include button(disabled, $in_headerbar: true);

            box-shadow: $shadow_bottom if($headerbar == "dark", $darker_disabled_fg_color, $disabled_fg_color);
          }
        }

        &:disabled {
          @include button(disabled, $in_headerbar: true);
        }

        &:first-child {
          border-top-left-radius: $standard_radius;
        }

        &:last-child {
          border-top-right-radius: $standard_radius;
        }
      }
    }
  }

  .path-bar button {
    border-width: 0px;

    &.text-button.toggle {
      @include button(toggle, $lighter_bg_color, $primary_color, $in_headerbar: true);

      &:hover {
        @include button(toggle-hover, $lighter_bg_color, $primary_color, $in_headerbar: true);
      }

      &:active, &:checked {
        @include button(toggle-active, $lighter_bg_color, $primary_color, $in_headerbar: true);

        &:disabled {
          @include button(disabled, $in_headerbar: true);

          box-shadow: $shadow_bottom if($headerbar == "dark", $darker_disabled_fg_color, $disabled_fg_color);
        }
      }

      &:disabled {
        @include button(disabled, $in_headerbar: true);
      }
    }

    &.slider-button {
      border-width: 0px;

      @include button(flat, $in_headerbar: true);

      &:disabled {
        @include button(disabled);
      }

      &, &:disabled {
        // to give the appearance of the pathbar being one large box, even if the sliders are disabled
        background-color: if($headerbar == "dark" and $variant == "light", $darker_lighter_bg_color, $lighter_bg_color);
      }
    }
  }
}

.nautilus-window notebook header tabs tab {
  min-height: 32px;
}

button {
  // get rid of the orange background when the toggle is checked but disabled
  .text-button.toggle {
    &:checked:disabled {
      background-image: image($disabled_bg_color);
      color: $disabled_fg_color;
      border-color: transparentize($primary_color, $disabled_opacity);
    }
  }

  .image-button:not(.text-button) {
    // get rid of headerbar image buttons having a background even when disabled
    &:disabled {
      background-image: none;
      background-color: transparent;
    }
  }
}

stackswitcher button {
  border-color: $border_color;
  border-style: solid;

  &:first-child {
    border-width: 1px 0 1px 1px;
  }

  &:last-child {
    border-width: 1px 1px 1px 0px;
  }

  &:not(:last-child):not(:first-child) {
    border-width: 1px 0px 1px 0px;
  }
}

scale:disabled contents {
  // disabled state for scale
  background-color: darken($bg_color, 5%);
}

dialog {
  @if $headerbar != "dark" {
    background-image: image($headerbar_bg);
  }
}

dialog, messagedialog {
  // make dialog boxes match Shell OSD elements
  border-radius: 0 0 $standard_radius $standard_radius;

  decoration {
    border: 8px solid $osd_box_shadow_color;
    border-radius: $standard_radius * 2;
  }

  headerbar {
    border-radius: $standard_radius $standard_radius 0 0;
  }
}

messagedialog {
  // Flat dialog boxes
  border-radius: 0px;
  border-width: 0px 1px 1px 1px;

  box.dialog-vbox {
    min-width: 300px;
  }

  &.background.csd, box.dialog-vbox.horizontal, buttonbox.dialog-action-area.horizontal.linked, box.horizontal.titlebar {
    border-radius: 0px;
    border-style: solid;
    border-color: if($variant != "dark", #E6E6E6, #2D2D2D);
  }

  .titlebar {
    border-width: 1px 1px 0 1px;
  }

  &.background.csd {
    &, box.horizontal:last-child, decoration {
      box-shadow: none;
    }
  }

  button {
    // doesn't seem to inherit default button padding
    min-height: 30px;

    &:hover {
      color: white;
      background-color: $primary_color;
    }

    &:active {
      color: white;
      border-color: _pressed_shade($primary_color);
      background-color: _pressed_shade($primary_color);
    }
  }

  &.background.csd box.horizontal.titlebar {
    // get rid of the dialog box's forehead
    min-height: 24px;
    background-image: image($bg_color);
    padding: 0px;
  }
}
