@import "color-palette";

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

// primary foreground colors
$dark_fg_color: $slate;
$light_fg_color: #ffffff;
$fg_color: if($variant == "light", $dark_fg_color, $light_fg_color);
$inverse_fg_color: if($variant == "light", $light_fg_color, $dark_fg_color);
$highlighted_fg_color: $light_fg_color;

// secondary foreground colors
$secondary_fg_color: scale-alpha($fg_color, $secondary_opacity);
$secondary_inverse_fg_color: scale-alpha(if($variant == "light", $light_fg_color, $dark_fg_color), $secondary_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $tertiary_opacity);

// background colors
$bg_color: if($variant == "light", $ubuntu_bg, $jet);
$base_color: lighten($bg_color, 2.5%);
$alt_base_color: if($variant == "light", darken($ubuntu_white, 2.5%), mix($base_color, $bg_color, 50%));
$alt_bg_color: if($variant == "light", $ubuntu_alt_bg, lighten($ubuntu_black, 7.5%));
$lighter_bg_color: if($variant == "light", lighten($ubuntu_white, 5%), lighten($ubuntu_black, 8%));

// headerbar colors
$light_headerbar_bg: $ubuntu_white;
$dark_headerbar_bg: $ubuntu_black;
$headerbar_bg_color: if($headerbar == "dark" or $variant == "dark", $dark_headerbar_bg, $light_headerbar_bg);
$headerbar_fg_color: if($headerbar == "dark" or $variant == "dark", $highlighted_fg_color, $fg_color);
$secondary_headerbar_fg_color: if($headerbar == "dark" or $variant == "dark", $secondary_inverse_fg_color, $secondary_fg_color);

@import "distros"; // Theme colours

// Info colours
$warning_color: $orange;
$error_color: $red;
$suggested_color: $green;
$success_color: $green;
$link_color: lighten($accent_color, 5);
$visited_link_color: darken($accent_color, 5);
$destructive_color: $red;
$info_bg_color: $blue;
$question_bg_color: $blue;
$warning_bg_color: lighten($orange, 5);
$error_bg_color: darken($red, 5);

// Terminal colors
$terminal_base_color: #12353E;
$terminal_bg: #1F414B;
$terminal_fg: #ACC8CC;
$terminal_border_color: #2F515B;
 $terminal_selected_bg: #102A37;

// hover states
$semi_fill_color: darken($lighter_bg_color, 5%);
$fill_color: darken($lighter_bg_color, 10%);

// Aux colors
$border_color: if($variant == "light", scale-alpha(black, 0.15), scale-alpha($ubuntu_white, 0.1));
$button_highlight_color: $border_color;
$switch_border_color: if($variant == "light", scale-alpha(black, 0.21), scale-alpha($ubuntu_white, 0.08));
$trough_background_color: $switch_border_color;
$button_highlight: inset 0 -1px;
$highlight_color: if($variant == "light", scale-alpha(white, 0.4), scale-alpha(white, 0.1));
$unity_highlight_color: if($headerbar == "dark", scale-alpha(white, 0.1), scale-alpha(white, 0.2));

// disabled and backdrop states
$disabled_bg_color: transparentize(if($variant == "light", $alt_bg_color, darken($alt_bg_color, 5%)), $disabled_opacity);
$disabled_base_color: transparentize(if($variant == "light", $alt_base_color, darken($alt_base_color, 5%)), $disabled_opacity);
$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);

$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$backdrop_fg_color: $disabled_fg_color;
$backdrop_bg_color: $disabled_bg_color;
$backdrop_base_color: $disabled_base_color;
$backdrop_border_color: $disabled_base_color;

// darker_bg_color
$darker_bg_color: lighten($ubuntu_black, 8%);
$darker_base_color: lighten($ubuntu_black, 2%);
$darker_headerbar_color: $ubuntu_black;
$darker_lighter_bg_color: lighten($ubuntu_black, 8%);
$darker_disabled_bg_color: #1C1C1C;
$darker_switch_border_color: scale-alpha($ubuntu_white, 0.08);
$darker_secondary_fg_color: scale-alpha($light_fg_color, $secondary_opacity);
$darker_border_color: #383838;
$darker_button_highlight_color: $darker_border_color;
$darker_disabled_fg_color: #7B7B7B;
