///************///
/// * Functions * ///
/// ************///
@function _pressed_shade($_bg, $value: 1) {
  // returns pressed/active shade
  $_amount: TBA;
  $_amount: $value * 5;

  @return darken($_bg, $_amount);
}

@function _hover_shade($_bg, $value: 1) {
  // returns hover shade
  $_amount: TBA;
  $_amount: $value * 5;

  @return lighten($_bg, $_amount);
}

///************///
/// * Entries * ///
/// ************///
@function entry_focus_border($fc: $primary_color) {
  @return $fc;
}

@function entry_focus_shadow($fc: $primary_color) {
  @return inset 0 0 0 1px $fc;
}

@mixin entry($type, $fc: $primary_color, $edge: none) {
  @if $type == normal {
    color: $fg_color;
    border-color: $border_color;
    background-color: $lighter_bg_color;
  }

  @if $type == focus {
    border-color: entry_focus_border($fc);
  }

  @if $type == disabled {
    color: $disabled_fg_color;
    border-color: $border_color;
    background-color: $disabled_bg_color;
  }
}

///************///
/// * Buttons * ///
/// ************///
@mixin button($type, $bg: $lighter_bg_color, $fg: $fg_color, $in_headerbar: false) {
  // $in_header is there to determine if the white text color should be used if the headerbar is dark
  // It also determines if a button background is supposed to be transparent, all headerbar buttons are supposed
  // to be flat, unless they're a "friendly" button, i.e suggested actions
  //
  // these are the local variables to be used for some fancy if/else statements
  $_bg: TBA;
  $_fg: TBA;
  $_bc: TBA;

  @if $type == normal {
    /// * Default state * ///
    @if $in_headerbar == true {
      $_bg: transparent;
      $_fg: $fg_color;
      $_bc: transparent;

      @if $headerbar == "dark" {
        $_fg: $light_fg_color;
      }
    }
    @else {
      $_bg: $bg;
      $_fg: if($bg == $lighter_bg_color or $bg == white, $fg, white);
      $_bc: if($bg == $lighter_bg_color, $border_color, $bg);
    }

    background-color: $_bg;
    color: $_fg;
    border-color: $_bc;
    outline-color: transparentize($fg, 0.7);
  }
  @else if $type == hover {
    /// * Hover state * ///

    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: $darker_lighter_bg_color;
      $_fg: $darker_secondary_fg_color;
    }
    @else {
      $_bg: if($bg == $lighter_bg_color, $bg, _hover_shade($bg));
      $_fg: $secondary_fg_color;
    }

    background-color: $_bg;
    color: if($bg == $lighter_bg_color or $bg == white, $primary_color, white);
    border-color: _hover_shade(if($bg == $lighter_bg_color, $border_color, $bg));
    outline-color: transparentize($fg, 0.7);
  }
  @else if $type == active {
    /// * Pressed state * ///
    background-color: _pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg));
    color: white;
    border-color: _pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg));
    outline-color: transparentize($fg, 0.7);
  }
  @else if $type == checked {
    /// * Checked/toggled state * ///
    background-color: if($bg == $lighter_bg_color, $primary_color, $bg);
    color: white;
    border-color: _pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg));
    outline-color: transparentize($fg, 0.7);

    &:active,
    &:hover {
      background-color: _pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg));
    }

    &:disabled {
      background-color: transparentize(_pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg)), $lower_opacity);
      border-color: transparentize(_pressed_shade(if($bg == $lighter_bg_color, $primary_color, $bg)), $higher_opacity);

      &, * {
        color: transparentize(white, $lower_opacity);
      }
    }
  }
  @else if $type == disabled {
    /// * Disabled state * ///
    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: if($bg != $bg_color, mix($darker_lighter_bg_color, $darker_base_color, 85%), $darker_disabled_bg_color);
      $_fg: if($bg != $bg_color, mix($light_fg_color, $_bg, 60%), $darker_disabled_fg_color);
    }
    @else {
      $_bg: if($bg != $bg_color, mix($lighter_bg_color, $base_color, 85%), $disabled_bg_color);
      $_fg: if($bg != $bg_color, mix($fg, $_bg, 60%), $disabled_fg_color);
    }

    background-color: $_bg;
    border-color: $border_color;

    &, label, image, arrow, cellview {
      color: $_fg;
    }
  }
  @else if $type == flat {
    /// * Flat buttons default state * ///
    // From here on out, flat buttons all use the background color that's passed to them as their foreground color
    // All flat buttons have no background, and they're all the default text color in their default state so
    // it makes no sense passing two values every time when only one's going to be used so we just take the
    // First color passed and work with that
    // An @include button(flat-hover, $fg: $primary_color) *should* work... I think, but that makes the
    // hover and press shade functions throw an error

    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: $light_fg_color;
    }
    @else {
      $_bg: $fg_color;
    }

    background-color: transparent;
    color: $_bg;
    border-color: transparent;
    background-image: none;
  }
  @else if $type == flat-hover {
    /// * Flat buttons hover state * ///
    background-color: transparent;
    color: $_bg;
    border-color: transparent;
    background-image: none;
    -gtk-icon-effect: highlight;
  }
  @else if $type == flat-active {
    /// * Flat buttons pressed state * ///
    // Flat buttons use the same styling for active and toggled/enabled states
    background-color: transparent;
    color: _pressed_shade($bg);
    border-color: transparent;
    background-image: none;
    -gtk-icon-effect: highlight;
  }
  @else if $type == flat-hover-actionable {
    // Actionable flat buttons are buttons that you "press", like the plus and minus buttons
    // These also follow the same background color as foreground color rule as regular flat buttons
    // Since they're basically regular flat buttons, there's no default state and only a hover and active state
    /// * Actionable hover state * ///
    background-color: $hover_bg;
    color: $bg;
    background-image: none;
    -gtk-icon-effect: highlight;
  }
  @else if $type == flat-active-actionable {
    /// * Actionable... active state * ///
    background-color: _pressed_shade($hover_bg, 7.5);
    color: _pressed_shade($bg);
    background-image: none;
    -gtk-icon-effect: highlight;
  }
  @else if $type == flat-disable {
    /// * Flat disabled state * ///
    color: $disabled_fg_color;
    background-color: transparent;
    background-image: none;
    opacity: .5;
  }
  @else if $type == toggle {
    /// * Toggle buttons * ///
    // This is used by any button that's in the headerbar that has a checked/unchecked state
    // The best examples are stackswitcher buttons and (see gnome music) and the pathbar in nautilus
    border-color: transparent;

    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: $darker_lighter_bg_color;
      $_fg: $darker_secondary_fg_color;
    }
    @else {
      $_bg: $lighter_bg_color;
      $_fg: $secondary_fg_color;
    }

    background-color: $_bg;
    color: $_fg;
    border-color: transparent;
    transition: all 250ms ease;
  }
  @else if $type == toggle-hover {
    /// * Toggle buttons hover state * ///
    border-color: transparent;

    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: $darker_lighter_bg_color;
      $_fg: $darker_secondary_fg_color;
    }
    @else {
      $_bg: $lighter_bg_color;
      $_fg: $secondary_fg_color;
    }

    background-color: $_bg;
    box-shadow: $shadow_bottom $_fg;
    color: $_fg;
    border-color: transparent;
  }
  @else if $type == toggle-active {
    /// * Toggle buttons active state * ///
    @if $in_headerbar == true and $headerbar == "dark" {
      $_bg: $darker_lighter_bg_color;
      $_fg: $primary_color;
    }
    @else {
      $_bg: $lighter_bg_color;
      $_fg: $primary_color;
    }

    background-color: $_bg;
    box-shadow: $shadow_bottom $primary_color;
    color: $_fg;
    border-color: transparent;

    label {
      transition: font-weight 0s;
      font-weight: bold;
    }
  }
}

///************///
/// * Overshoot * ///
/// ************///
@mixin overshoot($p, $type: normal, $bg: $primary_color) {
  $_small_gradient_length: 3%;
  $_big_gradient_length: 50%;

  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p == right or $p == left {
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $bg;
  $_big_gradient_color: transparentize($bg, 0.93);

  @if $bg == $fg_color {
    $_small_gradient_color: darken($border_color, 10%);
    $_big_gradient_color: transparentize($fg_color, 0.93);
  }

  $_small_gradient: radial-gradient(farthest-side at $p, $_small_gradient_color 85%, transparentize($_small_gradient_color, 1));

  $_big_gradient: radial-gradient(farthest-side at $p, $_big_gradient_color, transparentize($_big_gradient_color, 1));

  @if $type == normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $p;
  background-color: transparent;
  border: none;
}

///************///
/// * Undershoot * ///
/// ************///
@mixin undershoot($p) {
  // $p: position
  // possible values: top, bottom, right, left

  $_undershoot_color_dark: $primary_color;
  $_undershoot_color_light: $primary_color;

  $_gradient_dir: left;
  $_dash_bg_size: 10px 0;
  $_gradient_repeat: repeat-x;
  $_bg_pos: center $p;

  background-color: transparent;

  // shouldn't be needed, but better to be sure;
  @if $p == left or $p == right {
    $_gradient_dir: top;
    $_dash_bg_size: 0 10px;
    $_gradient_repeat: repeat-y;
    $_bg_pos: $p center;
  }

  background-image: linear-gradient(to $_gradient_dir, $_undershoot_color_light 50%, $_undershoot_color_dark 50%);
  padding-#{$p}: 1px;
  background-size: $_dash_bg_size;
  background-repeat: $_gradient_repeat;
  background-origin: content-box;
  background-position: $_bg_pos;
  border: none;
}
