$window_shadow: rgba(0, 0, 0, 0.05);
$extra_background_clip: border-box;
$_fg_color: #606060;

// opacities
$higher_opacity: 0.9;
$middle_opacity: 0.6;
$lower_opacity: 0.3;
$secondary_opacity: 0.75;
$tertiary_opacity: 0.6;
$disabled_opacity: 0.4;

// sizes
$normal_size: if($compact == true, 22px, 24px);
$smaller_size: ($normal_size - 8);
$small_size: ($normal_size - 4);
$medium_size: ($normal_size + 8);
$large_size: ($normal_size + 20);
//
$container_padding: if($compact == true, 4px, 6px);
$normal_padding: if($compact == true, 6px, 8px);
$small_padding: ($normal_padding / 2);
$medium_padding: ($normal_padding / 2 + 2);
$bar_size: 4px;
$osd_border_length: 8px;

// radiuses
$standard_radius: 6px;
$wm_radius: $standard_radius;
$circular_radius: 9999px;

// durations
$shorter_duration: 0.25s;
$longer_duration: .35s;

// timing functions
$standard_curve: cubic-bezier(0.4, 0, 0.2, 1);
$deceleration_curve: cubic-bezier(0, 0, 0.2, 1);
$acceleration_curve: cubic-bezier(0.4, 0, 1, 1);
$sharp_curve: cubic-bezier(0.4, 0, 0.6, 1);

// transition shorthands
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$standard_transition: all 250ms $ease-out-quad;
$shorter_transition: all $shorter_duration $deceleration_curve;

// shadows
$shadow_1: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24); // regular shadow
$decoration_shadow:  0 0 2px 2px $window_shadow, 0 0 4px 4px $window_shadow, 0 0 6px 6px $window_shadow, 0 0 8px 8px $window_shadow;
$headerbar_shadow: inset 0 -1px 0 transparentize($_fg_color, .9), 0 2px 2px transparentize($_fg_color, .8);
//
$shadow_bottom: inset 2px 0px 0px; // insert a color at the end here. lets you use a border without adding height + width
$shadow_left: inset 2px 0px 0px;
$shadow_right: inset -2px 0px 0px;
$shadow_top: inset 0px 2px 0px;
$shadow_bottom: inset 0px -2px 0px;
$shadow_surround: inset 0px 0px 0px 1px;
