$variant: 'dark'; // light or dark
$panel: 'dark'; // light or dark
$compact: 'false'; // true or false
$transparency: 'true'; // true or false
$distro: 'fedora'; // ubuntu and fedora

@import 'sass/variables';
@import 'sass/drawing';
@import 'sass/extensions';
@import 'sass/common';
