$variant: 'dark'; // light or dark
$panel: 'light'; // light or dark
$compact: 'false'; // true or false
$transparency: 'true'; // true or false

@import 'sass/variables';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/extensions';
