$variant: "light";
$headerbar: "light";
$distro: "ubuntu-alt";
$asset_suffix: if($variant=='dark', '-dark', '');
$window_button_suffix: if($variant == "dark" or $headerbar == "dark", "-dark", "");

@import "../common-partials/variables";
@import "../common-partials/colors";
@import "../common-partials/drawing";
@import "../common-partials/common";
@import "../common-partials/colors-public";
@import "../common-partials/bumps";
@import "../common-partials/apps";
