$extra_background_clip: if($variant == "light", padding-box, border-box);
$panel-corner-radius: 0;

// font families
$font-family: Ubuntu, Cantarell, Sans-Serif;

// font sizes
$root-font-size: if($compact == "false", 14px, 13px);
$subheading-size: if($compact == "false", 16px, 15px);

// opacities
$higher_opacity: 0.9;
$middle_opacity: 0.5;
$lower_opacity: 0.3;
$lowest_opacity: 0.25;
$secondary_opacity: 0.75;
$tertiary_opacity: 0.6;
$disabled_opacity: 0.4;
$quarternary_opacity: $disabled_opacity;

// simply so people wouldn't get the wrong idea

// sizes
$small_size: if($compact == "false", 24px, 20px);
$medium_size: if($compact == "false", 36px, 32px);
$large_size: if($compact == "false", 48px, 44px);
$container_padding: 6px;
$bar_size: 4px;
$menuitem_size: if($compact == "false", 35px, 30px);

// radiuses
$standard_radius: 8px;
$circular_radius: 9999px;

// durations
$shorter_duration: 0.1s / 2;
$longer_duration: 0.2s / 2;
$ripple_duration: 0.4s / 2;

// timing functions
$standard_curve: cubic-bezier(0.4, 0, 0.2, 1);
$deceleration_curve: cubic-bezier(0, 0, 0.2, 1);
$acceleration_curve: cubic-bezier(0.4, 0, 1, 1);
$sharp_curve: cubic-bezier(0.4, 0, 0.6, 1);

// transition shorthands
$shorter_transition: all $shorter_duration $deceleration_curve;
$longer_transition: all $longer_duration $deceleration_curve;
$shadow_transition: box-shadow $shorter_duration $deceleration_curve;

// Shadow borders
// insert a color at the end here. lets you use a border without adding height + width
$border_shadow_left_inside: inset 2 0px 0px;
$border_shadow_right_inside: inset -2 0px 0px;
$border_shadow_top_inside: inset 0 2px 0px;
$border_shadow_bottom_inside: inset 0 -2px 0px;
$border_shadow_left_outside_inside: -2 0px 0px;

$border_shadow_right_outside: 2 0px 0px;
$border_shadow_top_outside: 0 -2px 0px;
$border_shadow_bottom_outside: 0 2px 0px;
$border_shadow_surround_outside: 0 0px 0px 1px;

// Colours ----------

// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

@function chroma($c) {
  @return mix($c, $grey_800, 75%);
}

@import "color-palette";

// Foreground colors
$dark_fg_color: $ubuntu_fg;
$light_fg_color: $white;

$fg_color: if($variant == "light", $dark_fg_color, $light_fg_color);

// for shorthand's sake
$secondary_fg_color: scale-alpha($fg_color, $secondary_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $tertiary_opacity);

// This section is for things that always need to be in a light text color i.e: search results in the overview
$white_fg_color: $light_fg_color;
$secondary_white_fg_color: scale-alpha($white_fg_color, $secondary_opacity);
$tertiary_white_fg_color: scale-alpha($white_fg_color, $tertiary_opacity);

$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);
$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$disabled_tertiary_fg_color: scale-alpha($tertiary_fg_color, $disabled_opacity);

// Background colors
$the_base_color: if($variant == "light", $ubuntu_white, $ubuntu_black);
$base_color: if($transparency == "true", transparentize($the_base_color, $lowest_opacity), $the_base_color);
$alt_base_color: if($transparency == "true", transparentize($the_base_color, $middle_opacity), lighten($the_base_color, 15));
$alt_base_color: if($variant == "light", transparentize($ubuntu_black, $higher_opacity), $alt_base_color);

$the_bg_color: if($variant == "light", $white, $black);
$bg_color: if($transparency == "true", scale-alpha($black, $middle_opacity), $black);
$alt_bg_color: if($transparency == "true", transparentize($the_base_color, $lower_opacity), lighten($the_base_color, 15));
$inverse_bg_color: if($variant == "light", $alt_base_color, scale-alpha($fg_color, 0.1));
$panel_bg_color: if($transparency == "true", transparentize($the_base_color, $middle_opacity), $the_base_color);
$panel_bg_color: if($panel == "light" or $variant == "light", $ubuntu_white, $panel_bg_color);

$fill_color: scale-alpha($fg_color, $lower_opacity);
$semi_fill_color: $alt_base_color;
$disabled_fill_color: scale-alpha($disabled_fg_color, $lower_opacity);

$the_inverse_fill_color: if($variant == "light", $dark_fg_color, $light_fg_color);
$inverse_fill_color: scale-alpha($the_inverse_fill_color, $lower_opacity);
$semi_inverse_fill_color: scale-alpha($the_inverse_fill_color, $lower_opacity / 2);
$disabled_inverse_fill_color: scale-alpha($the_inverse_fill_color, $disabled_opacity);

// Theme colours
@import "distros";
$link_color: lighten($accent_color, 10);
$visited_link_color: darken($accent_color, 10);
$launcher_background: if($transparency == "true", transparentize($primary_color, 0.1), $primary_color);

// Info colours
$warning_color: $orange;
$error_color: $dark_orange;
$success_color: $dark_green;
$suggested_color: $accent_color;
$destructive_color: $dark_red;
$info_bg_color: $green;
$question_bg_color: $blue;
$warning_bg_color: lighten($orange, 5);
$error_bg_color: darken($red, 5);

// Border and highlight colours
$border_color: transparentize($ubuntu_white, $secondary_opacity);
$highlight_color: if($variant == "light", scale-alpha($white, 0.4), scale-alpha($white, 0.1));
$alt_highlight_color: scale-alpha($white, 0.2);
