$variant: 'light'; // Light or dark
$titlebar: 'dark'; // Light or dark
$asset_suffix: if($variant == 'dark', '-dark', ''); // Tells the theme which asset type to use
$window_button_asset_suffix: if($variant == 'dark' or $titlebar == 'dark', '-dark', '');

@import 'sass/variables';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/fixes';
@import 'sass/apps';
@import 'sass/colors-public';
