// Colours
@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

@function chroma($c) {
  @return mix($c, $grey_800, 75%);
}

@import "color-palette";

// Foreground colors
$dark_fg_color: #606060;
$light_fg_color: #ffffff;
$fg_color: if($variant == "light", $dark_fg_color, $light_fg_color);  // for shorthand's sake
$secondary_fg_color: scale-alpha($fg_color, $secondary_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $tertiary_opacity);

// Light foreground colors used for elements that always need white text (overview elements)
$light_fg_color: $light_fg_color;
$secondary_light_fg_color: scale-alpha($light_fg_color, $secondary_opacity);
$tertiary_light_fg_color: scale-alpha($light_fg_color, $tertiary_opacity);

// Disabled foreground colors
$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);
$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$disabled_tertiary_fg_color: scale-alpha($tertiary_fg_color, $disabled_opacity);

@import "distros"; // determine primary and accent colors to be used

// Background colors
$base_color: if($variant == "light", $ubuntu_white, $ubuntu_black);
$bg_color: if($variant == "light", $ubuntu_bg, $ubuntu_jet);
$alt_base_color: if($variant == "light", darken($ubuntu_white, 2.5%), mix($base_color, $bg_color, 50%));
$alt_bg_color: if($variant == "light", $ubuntu_alt_bg, lighten($ubuntu_black, 7.5%));
$lighter_bg_color: if($variant == "light", lighten($ubuntu_white, 5%), lighten($ubuntu_black, 7%));

@if $transparency == true {
  $base_color: transparentize($base_color, $quarternary_opacity);
  $bg_color: transparentize($bg_color, $quarternary_opacity);
  $alt_base_color: transparentize($alt_base_color, $quarternary_opacity);
  $alt_bg_color: transparentize($alt_bg_color, $quarternary_opacity);
  $lighter_bg_color: transparentize($lighter_bg_color, $quarternary_opacity);
}
@else {
  $base_color: $base_color;
  $bg_color: $bg_color;
  $alt_base_color: $alt_base_color;
  $alt_bg_color: $alt_bg_color;
  $lighter_bg_color: $lighter_bg_color;
}

$semi_fill_color: if($variant == "light", lighten($bg_color, 5%), transparentize($fg_color, 0.85));
$dark_semi_fill_color: transparentize($dark_fg_color, 0.95);
$fill_color: if($variant == "light", darken($bg_color, 5%), transparentize($fg_color, 0.9));
$disabled_fill_color: scale-alpha($disabled_fg_color, $disabled_opacity);

$inverse_semi_fill_color: transparentize(if($variant == "light", $light_fg_color, $dark_fg_color), 0.8);
$inverse_fill_color: transparentize(if($variant == "light", $light_fg_color, $dark_fg_color), 0.9);
$disabled_inverse_fill_color: scale-alpha(if($variant == "light", $light_fg_color, $dark_fg_color), $disabled_opacity);

$disabled_bg_color: transparentize(if($variant == "light", $alt_bg_color, darken($alt_bg_color, 5%)), $disabled_opacity);
$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);

// Theme colours
$link_color: lighten($accent_color, 10);
$visited_link_color: darken($accent_color, 10);

// Info colours
$warning_color: $orange;
$error_color: $dark_orange;
$success_color: $green;
$suggested_color: $accent_color;
$destructive_color: $dark_red;
$info_bg_color: $green;
$question_bg_color: $blue;
$warning_bg_color: lighten($orange, 5);
$error_bg_color: darken($red, 5);

// Border and highlight colours
$osd_border: transparentize(if($variant == "light", $ubuntu_white, $ubuntu_black), 0.6);
$osd_light_border: transparentize($ubuntu_white, 0.6);
$border_color: if($variant == "light", scale-alpha($black, 0.1), scale-alpha($ubuntu_white, 0.1));
$dark_border_color: scale-alpha($ubuntu_white, 0.1);
