// add distro colors here
$primary_color: null;
$accent_color: null;

@if $distro == "ubuntu" {
  $primary_color: $ubuntu_orange;
  $accent_color: lighten($ubuntu_purple, 10);
}

@if $distro == "arch" {
  $primary_color: #1793D1;
  $accent_color: #4D4D4D;
}
@else if $distro == "fedora" {
  $primary_color: #3C6EB4;
  $accent_color: #E59728;
}
@else if $distro == "manjaro" {
  $primary_color: #35BF5C;
  $accent_color: #E96D19;
}
@else if $distro == "opensuse" {
  $primary_color: #73BA25;
  $accent_color: #535A5A;
}
@else if $distro == "solus" {
  $primary_color: #5294e2;
  $accent_color: #4c5263;
}
@else {
  $primary_color: $ubuntu_orange;
  $accent_color: lighten($ubuntu_purple, 10);
  $distro: ubuntu;
}

$launcher_background: if($transparency == "true", transparentize($primary_color, 0.1), $primary_color);

@if $distro == "fedora" {
  // the default blue is too dark but we still need it for the launcher to look the way it should
  $launcher_background: #294172;
}
@else if $distro == "solus" {
  // the default blue is too dark but we still need it for the launcher to look the way it should
  $launcher_background: #4c5263;
}
