// add distro colors here
$primary_color: null;
$accent_color: null;

@if $distro == "ubuntu" {
  $primary_color: $ubuntu_orange;
  $accent_color: $ubuntu_aubergine;
}
@else if $distro == "ubuntu-alt" {
  $primary_color: $ubuntu_maroon;
  $accent_color: $ubuntu_orange;
}
@else if $distro == "arch" {
  $primary_color: #1793D1;
  $accent_color: #FF9010;
}
@else if $distro == "antergos" {
  $primary_color: #305193;
  $accent_color: #7E5FE9;
}
@else if $distro == "debian" {
  $primary_color: #D70751;
  $accent_color: #407C80;
}
@else if $distro == "fedora" {
  $primary_color: #3C6EB4;
  $accent_color: #E59728;
}
@else if $distro == "manjaro" {
  $primary_color: #1ABC9C;
  $accent_color: #E96D19;
}
@else if $distro == "opensuse" {
  $primary_color: #73BA25;
  $accent_color: #00A489;
}
@else if $distro == "solus" {
  $primary_color: #5294e2;
  $accent_color: #F46067;
}
@else {
  $primary_color: $ubuntu_orange;
  $accent_color: lighten($ubuntu_purple, 10);
  $distro: ubuntu;
}

$launcher_background: if($transparency == true, transparentize($primary_color, 0.1), $primary_color);

// make the launcher background color different for a couple distros so the logo looks correct
@if $distro == "antergos" {
  $launcher_background: #305193;
}
@if $distro == "fedora" {
  $launcher_background: #294172;
}
@else if $distro == "solus" {
  $launcher_background: #4c5263;
}
@else if $distro == "ubuntu-alt" {
  $launcher_background: $ubuntu_orange;
}
@else if $distro == "manjaro" {
  $launcher_background: #35BF5C;
}
@else {
  $launcher_background: $launcher_background;
}
