// Nautilus
window.nautilus-window {
  popover grid stack button:not(.image-button) {
    background-color: $alt_base_color;
    border: 1px solid $border_color;
    color: $fg_color;

    &:hover, &:active, &:checked {
      background-color: $alt_base_color;
    }
  }

  grid stack box.linked button:not(.image-button) {
    // nautilus has a not-entry button
    @include button(text, $fg_color, $lighter_bg_color);

    &:hover {
      box-shadow: $shadow_bottom $primary_color;
    }
  }

  header tabs tab {
    // necessary v-padding for regular tabs seems to be too much for nautilus
    padding: 0px 6px;
  }

  notebook {
    > header {
      &.top {
        tabs tab.reorderable-page {
          &:checked, &:hover {
            background-color: $lighter_bg_color;
          }
        }
      }
    }
  }
}

// Tweak Tool

.tweak-categories separator {
  background: transparent;
}

viewport.frame list.tweak-categories {
  border: none;
  background-image: image($alt_bg_color);
}

.tweak-group-startup row {
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 24px;
  padding-right: 24px;

  &:hover{
    background-image: image($lighter_bg_color);
  }

  > button:hover {
    box-shadow: none;
  }
}

// Calculator
headerbar.titlebar button.title {
  // the calculator's title is a button
  background-image: none;

  &:hover, &:active, &:checked {
    background-image: none;
    box-shadow: none;


  }
}

// Rhythmbox

toolbar toolitem button.image-button.raised {
  border: none;
}
