// Ubuntu - need to tidy this up a bit
$ubuntu_black: #111111;
$ubuntu_dark_grey: #312830;
$ubuntu_white: #F4F4F4;
$ubuntu_headerbar: $ubuntu_white;
$ubuntu_pane_bg: #E1E1E1;
$ubuntu_bg: #E8E8E7;
$ubuntu_grey: #AEA79F;
$ubuntu_fg: #6D6D6D;

// Ubuntu brand colours
$ubuntu_maroon: #A42435;
$ubuntu_orange: #E95420;
$ubuntu_light_purple: #973960;
$ubuntu_purple: #793272;


// Palette pulled from https://flatuicolors.com/
$red: #e74c3c;
$dark_red: #c0392b;
$yellow: #f1c40f;
$dark_yellow: #f39c12;
$orange: #e67e22;
$dark_orange: #d35400;
$green: #2ecc71;
$dark_green: #27ae60;
$turquise: #1abc9c;
$dark_turquise: #16a085;
$blue: #3498db;
$dark_blue: #2980b9;
$purple: #9b59b6;
$dark_purple: #8e44ad;
$blue_grey: #34495e;
$dark_blue_grey: #2c3e50;
$silver: #ecf0f1;
$dark_silver: #bdc3c7;
$concrete: #95a5a6;
$dark_concrete: #7f8c8d;

// Black
$black: #000000;

// White
$white: #FFFFFF;
