// add distro colors here
$primary_color: null;
$accent_color: null;

@if $distro == "fedora" {
  $primary_color: #3C6EB4;
  $accent_color: #E59728;
}

@else {
  $primary_color: $ubuntu_orange;
  $accent_color: lighten($ubuntu_purple, 10);
}
